body {
    background-color: pink;
}

#tamaConsole {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 600px;
    width: 600px;
    background-image: url(https://cdn.statically.io/img/i.pinimg.com/originals/90/c3/f9/90c3f9c76088ba30ed402e47b18b9278.jpg);
    background-color: lavender;
    background-position: center;
    border-radius: 75% 75% 50% 50%;
    border: 10px solid hotpink;
}

.tamaScreen {
    top: 5%;
    left: 12.5%;
    justify-content: center;
    position: absolute;
    border: 2px solid hotpink;
    background-color: darkgray;
    height: 450px;
    width: 450px;
    border-radius: 75% 75% 50% 50%;
}

.friendo { 
    margin-top: 40%;
    margin-left: 43.5%;
    position: absolute;
    padding: 50px 0 0 0;
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.square {
    background-color: black;
    height: 60px;
    width: 50px;
}

.bars {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 12.6%;
    top: 86%;
}

.bar {
    height: 10px;
    width: 100px;
    border: 1px solid black;
    background-color: green;
    margin: 5px;
}

.buttons {
    position: relative;
    top: 86%;
    left: 26%;
    
}

button {
    margin: 0 21px 0 21px;
    height: 50px;
    width: 50px;
    background-color: greenyellow;
    border-radius: 50%;
}

p {
    font-family: 'Lobster', cursive;
    text-align: center;
    position: relative;
    top: 70%;
    left: .5%;
    color: gold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 18px;
}

i {
    font-size: 27px;
    color: purple;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}